p, label, h1, h2, h3, h4 {
	font-family: arial;
	color: white;
}

p, label, h4 {
	font-size: 3.5vh
}

body {
	background-color: rgb(75,75,75);
	margin: 0px;
	min-height: 100vh;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

#center-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	min-height: 100vh;
}

.inner-box {
	border: 2px solid black;
	margin: -1px;
	width: 24vh;
	padding: 1vh;
	display: flex;
	flex-direction: column;
}

.inner-box:nth-child(1) {
	background-color: rgb(100, 100, 100);
}

.inner-box:nth-child(2) {
	background-color: rgb(125,125,125);
	flex-grow: 1;
}

.category-box {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

button {
	margin: 2vh;
	padding-top: 1vh;
	padding-bottom: 1vh;
	padding-left: 2vh;
	padding-right: 2vh;
	font-size: 3.5vh;
	font-weight: bold;
}

select {
	font-weight: bold;
	border: none;
	font-size: 3.5vh;
	font-family: 'Arial';
	background-color: rgb(125,125,125);
	width: 25vh;
	padding: 1vh;
}

input {
	width: 25vh;
	font-size: 3.5vh;
	font-weight: bold;
	border: none;
	padding: 1vh;
}

#items-box {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.item {
	font-size: 7.5vh;
	user-select: none;
}

.item-box {
	margin-top: 2vh;
	margin-bottom: 2vh;
}