p, label, h1, h2, h3, h4 {
	font-family: arial;
	color: white;
}

p, label, h4 {
	font-size: 4vh
}

body {
	background-color: gray;
	margin: 0px;
	height: 100vh;
}

.columns-box {
	display: flex;
}

.column {
	min-width: 5vw;
}

.inner-box {
	outline: 1px solid black;
	display: flex;
	flex-direction: column;
	padding: .5vh
}

.center-box {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: center;
	height: 100vh;
}