p, label, h1, h2, h3, h4 {
	font-family: arial;
	color: white;
}

p, label, h4 {
	font-size: 3.5vh
}

body {
	background-color: rgb(75,75,75);
	margin: 0px;
	min-height: 100vh;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

#center-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	min-height: 100vh;
}

.inner-box {
	border: 2px solid black;
	margin: -1px;
	width: 24vh;
	padding: 1vh;
	display: flex;
	flex-direction: column;
}

.inner-box:nth-child(1) {
	background-color: rgb(100, 100, 100);
}

.inner-box:nth-child(2) {
	background-color: rgb(125,125,125);
	flex-grow: 1;
}

.category-box {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

button {
	color: black;
	border-radius: 0%;
	margin: 1vh;
	padding-top: 1vh;
	padding-bottom: 1vh;
	padding-left: 2vh;
	padding-right: 2vh;
	font-size: 3.5vh;
	font-weight: bold;
	cursor: pointer;
	border-style: none;
}

select {
	color: black;
	border-radius: 0%;
	font-weight: bold;
	border: none;
	font-size: 3.5vh;
	font-family: 'Arial';
	background-color: rgb(125,125,125);
	width: 25vh;
	padding: 1vh;
	margin: 2vh;
}

.txt-input {
	border-radius: 0%;
	width: 25vh;
	font-size: 3.5vh;
	font-weight: bold;
	border: none;
	padding: 1vh;
	margin: 2vh;
}

.sm-input {
	width: 10vh;
}

#items-box {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.item {
	font-size: 5.5vh;
	user-select: none;
}

.item-box {
	padding-left: 2vh;
	margin-bottom: 2vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#dimmer {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .5);
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#add-item, #input-qty {
	background-color: rgb(125,125,125);
	padding: 3vh;
	margin: 3vh;
}

.form-row {
	display: flex;
	align-items: center;
	margin-top: 2vh;
	margin-bottom: 2vh;
}

.cbox {
	width: 3vh;
	height: 3vh;
	margin: 1vh;
}

#item-list {
	width: 100%;
}

.delete-button {
	border-radius: 50%;
	background-color: red;
	color: white;
	width: 4vh;
	height: 4vh;
	padding: 0vh;
	font-size: 3vh;
}

.list-item {
	padding-top: .5vh;
	padding-bottom: .5vh;
	cursor: pointer;
	user-select: none;
}